<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>HTML Table</title>
</head>
<body>
    <table  class="table">
        <thead>
            <tr class="table">
                <th class="table">First Name</th>
                <th class="table">Last Name</th>
                <th class="table">Full Name</th>
            </tr>
        </thead>
            {% for x in list_1: %}
                <tr>
                    {% for k in x: %}
                    <td class="table">{% print(x[k]) %}</td>
                    {% endfor %}
                    <td class="table">{% print(" ".join(x.values())) %}</td>
                </tr>
            {% endfor %}
    </table>
</body>
</html>

